* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*Fontes*/
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Fontes*/

body {
    background-color:#0D0D0D;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;    
}

header nav,
header .container, 
.container {
    display: flex;
    align-items: center;
    justify-content:space-between;    
}

header {
    padding: 16px 2px;    
    font-family: "Archivo Black", sans-serif;
    font-size: 16px;
}

header h1 {
    color: #fff;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

header nav li {
    display: inline;
    margin: 32px;    
}

header nav li a {
    color: #fff;
}


.bttn_general {
    background-color: #4c00ff;
    border-radius: 10px;
    color: #ffff;
    padding: 12px;
    font-family: "Archivo Black", sans-serif;
    font-size: 18px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 0.5s ease;    
}

.bttn_general:hover {
    background-color: #713eff
}

.dev_imagem {
    height: 640px;
}

.container h2 span {
    font-family: "Archivo Black", sans-serif;
    font-size: 48px;
    color: #fff;
    margin: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.container h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 48px;
    color: #fff;
    margin: 2px;
}

.container p {
    padding:20px 8px;    
    font-family: "Poppins", sans-serif;
    text-align:start;
    font-size: 24px;
    color: #fff;    
}

#apresentacao {
    padding: 120px;
}

#apresentacao p {
    text-align: end;
    padding: 20px;
    margin: 20px;
}

#apresentacao h2 {
    color: #8637ff;
    text-align: end;
    padding: 20px;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 100px #4c00ff;
    z-index: -100
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 1280px;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#abilities {
    background-image:linear-gradient(#0D0D0D , #713eff , #fff);
    padding: 120px 240px;    
}

#abilities h2,
#projects h2 {    
    font-family: "Archivo Black", sans-serif;
    font-size: 48px;
    color: #fff;
    text-align: start;   
}

.features {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.cards {    
    background-color: #ffffff8f;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 15px;      
    transition: all 0.3s ease;
}

.cards h3 {    
    font-family: "Archivo Black", sans-serif;
    font-size: 24px;
    color: #4c00ff;
    font-weight: 800;
}

.cards img {
    height: 84px;
    background-color: #713eff;
    border-radius: 15px;    
}

.cards p {
    text-align: start;
    padding: 18px;
    font-family: "Poppins", sans-serif;
    color:#4c00ff;
    font-weight: 600;    
}

.features .cards:hover{
    background-color: #ffff;
    border-color: #4c00ff;    
}

.cards a {
    font-family: "Poppins", sans-serif;
    background-color: #4c00ff;
    border-radius: 10px;
    color: #ffff;
    padding: 4px;        
    font-size: 18px;
    margin: 16px;
    transition: all 0.3s ease;
}

.cards a:hover {
    background-color: #713eff;
}

#projects {
    background-image:linear-gradient(#fff 60%, #713eff);
    padding: 120px 240px;
}

#projects h2 {
    color: #713eff;
}

.git-hub {
    font-family: "Archivo Black", sans-serif;
    font-size: 24px;
    color: #0D0D0D;
    font-weight: 800;
}

.git-hub p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.git-hub,
.git-hub p {
    color: #0D0D0D;
    text-align: center;
}

#contact { 
    background-image: linear-gradient( #713eff, #0D0D0D );
    padding: 120px 240px;
}

#contact h2 {
    color:#ffffff;
    font-family: "Archivo Black", sans-serif;
    font-size: 32px;
}

#contact .container {
    align-items: first baseline;
}

.social-medias img,
.zipcode img {
    height: 48px;
}

.social-medias li {
    display: inline;
    margin-right: 8px;    
}


form input,
form textarea {
    border-radius: 10px;
}

form input,
form textarea,
form .bttn_general {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

.zipcode a {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color:#fff;
}

footer {
    background-color: #0D0D0D;        
}

footer .container {
    justify-content:center;
}

footer .container p,
footer a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #fff;
}