@use 'vars';

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;    
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);    
}

* {
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
    font-family: Amazon , sans-serif;
}

body {
    background-color: aqua;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px)
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(15px)
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(14px)
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px)
    }    
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(28px)
    }
}